.btn {
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: @oswald;
  font-size: 14px;
  line-height: (18 / 14);
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: @basic-green;
  border: none;
}

.more-btn {
  color: @special_dark-gray;
  background-color: @gray;
}
