.catalog__title {
  margin: 0;
  padding: 20px;
  font-family: @oswald;
  font-size: 36px;
  line-height: (36 / 36);
  font-weight: 400;
}

.catalog__list {
  .list-normalize();
}

.catalog__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  border-top: 1px solid @special-gray-2;
}

.catalog__item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.catalog__img-wrapper {
  display: block;
}

.catalog__image {
  display: block;
}

.catalog__info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.catalog__name {
  margin: 0;
  width: 100px;
}

.catalog__link {
  display: block;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: (20 / 16);
  font-family: @oswald;
  font-weight: 400;
  color: @special_dark-gray-2;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog__features {
  font-size: 12px;
  line-height: (16 / 12);
  .list-normalize();
  width: 142px;
}

.catalog__feature {
  display: flex;
  justify-content: space-between;
}

.catalog__order {
  width: 100%;
}

@media (min-width: 768px) {
  .catalog {
    padding-bottom: 60px;
  }

  .catalog__title {
    font-size: 60px;
    line-height: (60 / 60);
    margin: 0 0 80px 30px;
    padding: 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: -140px;
    margin-right: 30px;
  }

  .catalog__item {
    width: 324px;
    margin-bottom: 140px;
    padding: 0 40px 40px 40px;
    border: none;

    &:not(:last-child) {
      background-color: #f2f2f2;
    }
  }

  .catalog__item-wrapper {
    flex-direction: column;
  }

  .catalog__img-wrapper {
    margin: 0 auto;
  }

  .catalog__info {
    margin-bottom: 33px;
  }

  .catalog__name {
    margin: 0 auto;
    width: 130px;
  }

  .catalog__link {
    font-size: 20px;
    line-height: (24 / 20);
    text-align: center;
  }

  .catalog__features {
    font-size: 16px;
    line-height: (16 / 16);
    width: 100%;
  }

  .catalog__feature {
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 0 10px 0;
  }
}

@media (min-width: 1032px) {
  .catalog__list {
    margin-left: 0;
    margin-right: 0;
  }
  
  .catalog__item {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1440px) {
  .catalog__title {
    margin-left: 110px;
  }

  .catalog__list {
    margin-left: 80px;
    margin-right: 80px;
  }

  .catalog__item {
    width: 245px;
  }
}
