.categories {
  .list-normalize();
}

.categories__item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: @gray;
}

.categories__item-title {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  font-family: @oswald;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;

  &::before {
    content: "";
    margin-right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &--slim::after {
    /* content: url("/img/icon-cat-slim.svg"); */
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("/source/img/icon-cat-slim.svg") no-repeat;
    background-position: center center;
  }

  &--pro::after {
    /* content: url("/img/icon-cat-pro.svg"); */
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("/source/img/icon-cat-pro.svg") no-repeat;
    background-position: center center;
  }
}

.categories__item-description {
  margin: 0;
  padding-bottom: 23px;
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  border-bottom: @gray-border;
}

.categories__item-link {
  margin-top: 18px;
  display: flex;
  align-items: center;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.item-link__text {
  margin-right: 15px;
}
