.contacts-wrapper {
  display: flex;
  align-items: center;
  padding: 20px;

  &--gray-background {
    background-color: @gray;
  }
}

.contacts__invite {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
}

.contacts__address {
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: (20 / 14);
  font-style: normal;
}

.contacts__map {
  display: block;
  width: 100%;
}
