.contacts-wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;

  &--gray-background {
    background-color: @gray;
  }
}

.contacts__invite {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: (18 / 16);
  text-transform: uppercase;
  width: 177px;
}

.contacts-address-wrapper {
  font-size: 14px;
  line-height: (20 / 14);
  font-style: normal;
}

.contacts__address {
  font-style: normal;
}

.contacts__city {
  margin: 0;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
}

@media (min-width: 768px) {
  .contacts__invite {
    font-size: 20px;
    line-height: (21 / 20);
  }

  .contacts-address-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
    line-height: (20 / 16);
  }

  .contacts__address {
    width: 155px;
    text-align: right;
    margin-bottom: 15px;
  }

  .contacts__city {
    text-align: right;
  }

  .contacts__map {
    height: 400px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }

  .contacts-wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    background-color: @light;
    padding: 70px 90px 50px 80px;
  }

  .contacts__map {
    height: 400px;
  }
}
