.cta {
  padding-top: 27px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title-font();
  font-weight: 500;
  color: @light;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  background-size: contain;
  background-position: top center;
}

.cta__title {
  margin: 0;
  margin-bottom: 25px;
  width: 250px;
  .title-font();
  font-size: 36px;
  text-align: center;
}

.cta__slogan {
  font-size: 14px;
  margin: 0;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.cta__product-image {

}

.cta__link {
  text-decoration: none;
}

.btn {
  .btn();
}
