.developers {
  border-top: 1px solid #D9D9D9;
  min-width: 281px;
  padding: 20px;
}

.developers__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .paragraph-font();
  color: @special_dark-gray;
  text-decoration: none;
}
