.footer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @gray;
}

.footer__logo {
  display: block;
  padding-bottom: 32px;
  border-bottom: 1px solid #d9d9d9;
}

.social-links {
  display: flex;
  justify-content: space-between;
  .list-normalize();
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 130px;
}
