.form {
  padding-top: 30px;
}

.form__container {
  margin: 0 auto;
}

.form__fieldset {
  border: none;
  padding: 20px 0 20px 0;

  &:not(:last-of-type),
  &--program {
    border-bottom: @gray-border;
  }
}

.form__title {
  font-family: @oswald;
  font-size: 36px;
  line-height: (36 / 36);
  font-weight: 400;
  color: #000000;
  margin-top: 0;
}

.form__description {
  margin-top: 0;
  margin-bottom: 35px;
  font-family: @oswald;
  font-size: 14px;
  line-height: (18 / 14);
  font-weight: 400;
  text-transform: uppercase;
}

.form__fieldset-title {
  display: block;
  font-family: @oswald;
  font-size: 24px;
  line-height: (26 / 24);
  font-weight: 400;
  margin-top: 0;
}

.form__group {
  &--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:not(:nth-of-type(3)) {
    margin-bottom: 13px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__label {
  position: relative;
  flex-shrink: 0;
  font-family: @oswald;
  font-size: 16px;
  line-height: (18 / 16);
  font-weight: 400;
  text-transform: uppercase;
}

.form__checkbox {
  &--hidden {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.form__field {
  width: 100%;
  padding: 15px;
  border: 1px solid #e7e7e7;
  font-family: @oswald;
  font-size: 16px;
  line-height: (18 / 16);
  font-weight: 400;
  color: @special_dark-gray;
  text-transform: uppercase;
}

.textarea-block {
  display: block;
  width: 100%;
}

.form__checkbox {
  margin-right: 18px;
}

.form__submit {
  margin-bottom: 20px;
}

.form__small-text {
  font-family: @arial;
  font-size: 14px;
  line-height: (16 / 14);
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: (60 / 60);
    margin-left: -40px;
  }

  .form__description {
    font-size: 20px;
    line-height: (30 / 20);
  }

  .form__fieldset-wrapper {
    &--other {
      display: flex;
      flex-wrap: wrap;
    }

    &--other .form__group {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      width: 50%;
    }

    &--submit {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .form__fieldset {
    &:not(:last-of-type) {
      border-bottom: none;
    }

    &--program {
      border: 1px solid #e7e7e7;
      padding: 30px;
    }
  }

  .form__fieldset-title {
    font-size: 36px;
    line-height: (36 / 36);
  }

  .form__label {
    font-size: 20px;
    line-height: 1;
  }

  .form__submit {
    margin: 0;
    width: 282;
  }

  .form__small-text {
    margin: 0;
    width: 282px;
  }
}

@media (min-width: 1220px) {
  .form__title {
    margin-left: 0;
  }

  .form__fieldset-wrapper {

    &:nth-of-type(2),
    &--contacts {
      display: flex;
      justify-content: space-between;
    }

    &--other {
      justify-content: space-between;
      margin-bottom: 30px;
    }

    &--other .form__group {
      width: 20%;
      margin: 0;
    }
  }

  .form__fieldset {
    &--specifications {
      width: 570px;
    }

    &--program {
      padding: 30px;
      width: 570px;
    }
  }

  .form__group--space-between.form__group--contacts {
    margin: 0;
    width: 570px;
  }

  .form__submit {
    margin: 0;
    width: 568px;
  }

  .form__small-text {
    margin: 0;
    width: 568px;
    text-align: left;
  }
}
