.form {
  padding-top: 20px;
}

.form__fieldset {
  border: none;
  padding: 20px;

  &:not(:last-of-type) {
    border-bottom: @gray-border;
  }
}

.form__title {
  margin-left: 20px;
  font-family: @oswald;
  font-size: 36px;
  line-height: (36 / 36);
  font-weight: 400;
  color: #000000;
  margin-top: 0;
}

.form__description {
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 35px;
  margin-left: 70px;
  font-family: @oswald;
  font-size: 14px;
  line-height: (18 / 14);
  font-weight: 400;
  text-transform: uppercase;
}

.form__fieldset-title {
  display: block;
  font-family: @oswald;
  font-size: 24px;
  line-height: (26 / 24);
  font-weight: 400;
  margin-top: 0;
}

.form__group {
  &--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:not(:nth-of-type(3)) {
    margin-bottom: 13px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 15px;
  flex-shrink: 0;
  font-family: @oswald;
  font-size: 16px;
  line-height: (18 / 16);
  font-weight: 400;
  text-transform: uppercase;
}

.form__field {
  width: 100%;
  padding: 15px;
  border: 1px solid #e7e7e7;
  font-family: @oswald;
  font-size: 16px;
  line-height: (18 / 16);
  font-weight: 400;
  color: @special_dark-gray;
  text-transform: uppercase;
}

.textarea-block {
  display: block;
  width: 100%;
}

.form__checkbox {
  margin-right: 18px;
}

.form__submit {
  margin-bottom: 20px;
}

.form__small-text {
  font-family: @arial;
  font-size: 14px;
  line-height: (16 / 14);
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: (60 / 60);
  }

  .form__fieldset {
    padding-left: 70px;
    padding-right: 70px;

    &:not(:last-of-type) {
      border-bottom: none;
    }

    &--program {
      border: 1px solid #e7e7e7;
      margin-left: 70px;
      margin-right: 70px;
      padding: 30px;
    }
  }

  .form__fieldset-title {
    font-size: 36px;
    line-height: (36 / 36);
  }

  .form__label {
    font-size: 20px;
    line-height: 1;
  }

  .form__description {
    font-size: 20px;
    line-height: (30 / 20);
  }
}

@media (min-width: 1440px) {
  .form__title {
    margin-left: 110px;
  }

  .form__description {
    margin-left: 110px;
  }

  .form__head-wrapper {
    margin-left: 110px;
    margin-right: 110px;
    display: flex;
    justify-content: space-between;
  }

  .form__fieldset {
    margin-left: 110px;
    margin-right: 110px;
    padding: 0;

    &--specifications {
      margin: 0;
      width: 570px;
    }

    &--program {
      margin: 0;
      padding: 30px;
      width: 570px;
    }
  }
}
