.header-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__toggle-nav-btn {
  border: none;
  background: transparent;
}

.nav__list {
  .list-normalize();
}

.nav__item {
  padding-top: 22px;
  padding-bottom: 24px;
  text-align: center;
  border-top: @gray-border;
}

.nav__item:last-of-type {
  border-bottom: @gray-border;
}

.nav__link {
  font-size: 20px;
  .title-font();
  text-decoration: none;
  text-transform: uppercase;
}
