.header__toggle-nav-btn {
  border: none;
  background: transparent;
}

.header__container {
  margin: 0 auto;
}

.header__container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
}

@media (min-width: 768px) {
  .header__toggle-nav-btn {
    display: none;
  }
}
