.more {
  padding: 20px;
  text-align: center;
}

.more__title {
  font-family: @oswald;
  font-size: 16px;
  line-height: (20 / 16);
  font-weight: 400;
  text-transform: uppercase;
}

.more__slogan {
  font-family: @arial;
  font-weight: 400;
  font-size: 12px;
  line-height: (16 / 12);
  color: @special_dark-gray;
}
