.nav__list {
  .list-normalize();
}

.nav__item {
  text-align: center;
  border-top: @gray-border;

  &:last-of-type {
    border-bottom: @gray-border;
  }
}

.nav__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: (20 / 20);
  font-family: @oswald;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    justify-content: space-between;
    min-width: 440px;
  }

  .nav__item {
    border-top: none;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .nav__link {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    line-height: (24 / 18);

    &:hover {
      color: #666666;
    }

    &:focus {
      color: #b3b3b3;
    }

    &--active {
      border-bottom: 2px solid @basic-green;
    }
  }
}

@media (min-width: 1440px) {
  .nav__list {
    min-width: 440px;
  }

  .nav__link {
    font-size: 20px;
    line-height: 1;
  }
}
